<div class="container">
<h1>Contact</h1>
<a href= "https://thehackingproject.slack.com"><p> Hey there ! Ici c'est la TeamMada </p></a>
<p> Avec @Hari</p>
<p>Et @tinosam !</p>
<p>Contactez nous sur slack</p>
</div> 