<div class="jumbotron jumbotron-fluid bg-light shadow">
  <div class="container">
    <h1 class="display-4">Bienvenue <%= @user.username%>!</h1>
    <strong>Voici ta bio trop cool :</strong>
    <hr>
    <em class="lead">
      "<%= @user.bio %>"
    </em>
  </div>
</div>